$Nic = Get-AzNetworkInterface -ResourceGroupName "{{resourcegroup}}" -Name "{{hostname}}-nic"
$Nic.IpConfigurations[0].PrivateIpAllocationMethod = "Static"
Set-AzNetworkInterface -NetworkInterface $Nic